[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aequitas = "*"
jupyterlab = "*"
scipy = "*"
black = {extras = ["jupyter"], version = "*"}
nbqa = "*"
isort = "*"
coloraide = "*"

[dev-packages]

[requires]
python_version = "3.7"
